/*Selector Universal
*{
	color:red;
}*/

h1{
	font-family: Arial, Helvetica, sans-serif;
	color: maroon;
}

.background-pink{
	background-color: pink;
}

.article-header{
	font-family: Arial, Helvetica, sans-serif;
	color: green;
}